PORT={{ app_port }}
POSTGRES_USER={{ db_user }}
RAILS_LOG_TO_STDOUT={{ log_to_stdout }}
RAILS_MASTER_KEY={{ rails_master_key }}
RAILS_ENV={{ rails_env }}
USER= {{ devops_run_user }}
WEB_DATABASE_PASSWORD={{ db_password }}
WEB_DATABASE_USER={{ db_user }}
WEB_DATABASE_HOST={{ db_hostname }}